.profile-container {
  margin: auto;
  padding: 15px;
  text-align: center;
  background-color: rgb(100, 164, 254);
  width: 50%;
  border-radius: 15px;
  margin-top: 150px;
}

.profile-name {
  font-size: 3.5rem;
}

.address {
  margin: auto;
  width: 70%;
}
