.list-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 1.5rem;
  padding: 5px;
  padding-left: 50px;
  background-color: white;
  border-bottom: 2px solid rgb(0, 106, 255);
}

.list-container li {
  padding: 15px;
}

.link {
  text-decoration: none;
  padding: 15px;
  color: #454545;
}

.link:hover {
  border-bottom: 2px solid rgb(0, 153, 255);
}

.link:active {
  color: rgb(0, 153, 255);
}

#current-active {
  border-bottom: 5px solid rgb(0, 106, 255);
}
